<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.mybatis.Mapper.UserMapper">
    <select id="getUserInfoList" resultType="com.liang.mybatis.Bean.Userinfo">
        select * from userinfo
    </select>

    <insert id="insertUser" parameterType="com.liang.mybatis.Bean.Userinfo">
        insert into userinfo(id,name,age) values(#{id},#{name},#{age})
    </insert>
</mapper>